In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

path = '../../shared_data/round4/'
days = [1, 2, 3]

activity = [pd.read_csv(path + f'prices_round_4_day_{d}.csv', sep=';') for d in days]
activity = pd.concat(activity)
activity.set_index(['product', 'day', 'timestamp'], inplace=True)
activity

                              bid_price_1  bid_volume_1  bid_price_2  \
product        day timestamp
COCONUT        1   0               9999.0         200.0          NaN
COCONUT_COUPON 1   0                637.0          39.0          NaN
COCONUT        1   100             9999.0         104.0       9998.0
COCONUT_COUPON 1   100              637.0          33.0          NaN
COCONUT        1   200             9998.0         133.0       9997.0
...                                   ...           ...          ...
COCONUT_COUPON 3   999700           575.0          40.0          NaN
                   999800           575.0          30.0          NaN
COCONUT        3   999800          9883.0         127.0       9882.0
COCONUT_COUPON 3   999900           575.0          43.0          NaN
COCONUT        3   999900          9882.0         137.0       9881.0

                              bid_volume_2  bid_price_3  bid_volume_3  \
product        day timestamp
COCONUT        1   0                   NaN          NaN           NaN
COCONUT_COUPON 1   0                   NaN          NaN           NaN
COCONUT        1   100                44.0          NaN           NaN
COCONUT_COUPON 1   100                 NaN          NaN           NaN
COCONUT        1   200                62.0          NaN           NaN
...                                    ...          ...           ...
COCONUT_COUPON 3   999700              NaN          NaN           NaN
                   999800              NaN          NaN           NaN
COCONUT        3   999800             46.0          NaN           NaN
COCONUT_COUPON 3   999900              NaN          NaN           NaN
COCONUT        3   999900             69.0          NaN           NaN

                              ask_price_1  ask_volume_1  ask_price_2  \
product        day timestamp
COCONUT        1   0                10001           200          NaN
COCONUT_COUPON 1   0                  638            39          NaN
COCONUT        1   100              10000           104      10001.0
COCONUT_COUPON 1   100                638            33          NaN
COCONUT        1   200               9999           133      10000.0
...                                   ...           ...          ...
COCONUT_COUPON 3   999700             576            40          NaN
                   999800             576            44          NaN
COCONUT        3   999800            9885           164          NaN
COCONUT_COUPON 3   999900             576            43          NaN
COCONUT        3   999900            9883           131       9884.0

                              ask_volume_2  ask_price_3  ask_volume_3  \
product        day timestamp
COCONUT        1   0                   NaN          NaN           NaN
COCONUT_COUPON 1   0                   NaN          NaN           NaN
COCONUT        1   100                44.0          NaN           NaN
COCONUT_COUPON 1   100                 NaN          NaN           NaN
COCONUT        1   200                62.0          NaN           NaN
...                                    ...          ...           ...
COCONUT_COUPON 3   999700              NaN          NaN           NaN
                   999800              NaN          NaN           NaN
COCONUT        3   999800              NaN          NaN           NaN
COCONUT_COUPON 3   999900              NaN          NaN           NaN
COCONUT        3   999900             69.0          NaN           NaN

                              mid_price  profit_and_loss
product        day timestamp
COCONUT        1   0            10000.0              0.0
COCONUT_COUPON 1   0              637.5              0.0
COCONUT        1   100           9999.5              0.0
COCONUT_COUPON 1   100            637.5              0.0
COCONUT        1   200           9998.5              0.0
...                                 ...              ...
COCONUT_COUPON 3   999700         575.5              0.0
                   999800         575.5              0.0
COCONUT        3   999800        9884.0              0.0
COCONUT_COUPON 3   999900         575.5              0.0
COCONUT        3   999900        9882.5              0.0

[60000 rows x 14 columns]

In [9]:
trade = pd.concat([pd.read_csv(path + f'trades_round_4_day_{d}_nn.csv', sep=';').assign(day=d) for d in days])
trade.set_index(['symbol', 'day', 'timestamp'], inplace=True)
trade

                              buyer  seller   currency   price  quantity
symbol         day timestamp
COCONUT_COUPON 1   800          NaN     NaN  SEASHELLS   636.0         5
                   900          NaN     NaN  SEASHELLS   634.0        17
                   1100         NaN     NaN  SEASHELLS   635.0        17
                   1900         NaN     NaN  SEASHELLS   635.0        16
                   2000         NaN     NaN  SEASHELLS   637.0        14
...                             ...     ...        ...     ...       ...
               3   996200       NaN     NaN  SEASHELLS   585.0        14
COCONUT        3   997100       NaN     NaN  SEASHELLS  9885.0         9
                   997200       NaN     NaN  SEASHELLS  9883.0         8
                   998600       NaN     NaN  SEASHELLS  9887.0         5
COCONUT_COUPON 3   999800       NaN     NaN  SEASHELLS   575.0        14

[5122 rows x 5 columns]